.footer {
  background-color: #343338;
  height: 128px;
  width: 100%;
}

.footer_wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.footer_links_container {
  display: flex;
  justify-content: space-between;
}

.footer_links_container img {
  cursor: pointer;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .footer_wrapper {
      max-width: 640px;
      padding: 12px;

  }
}

@media screen and (max-width: 345px) {
  .footer_wrapper {
      padding: 5px 0 0 5px;

  }

  .footer_links_container img {
      margin: 5px 10px;
  }

}