.footer {
  background-color: #343338;
  height: 128px;
  width: 100%;
}

.footer_wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer_links_container {
  min-width: 136px;
  display: flex;
  justify-content: space-between;
}

.footer_links_container img:hover {
  cursor: pointer;
}
