.photos_wrapper {
  max-width: 1200px;
  margin: 0 auto 40px;
  padding: 5px;
}

.photos_wrapper h2 {
  margin-bottom: 40px;
}

.button_default_black {
  width: 100%;
}

.photos_items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin-bottom: 24px;
}

.photos_items>:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.loader {
  justify-content: center;
  margin-top: -50px;
  margin-right: -50px;
}

@media screen and (max-width: 1210px) {
  .photos_wrapper {
      max-width: 1100px;

  }

  .photos_wrapper h2 {
      margin-bottom: 30px;
  }

  .photos_items {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
      margin-bottom: 20px;
  }

  .photos_items div img {
      max-width: 200px;
  }

  .photos_items>:first-child img {
      max-width: 400px;

  }
}

@media screen and (max-width: 915px) {
  .photos_wrapper {
      max-width: 800px;

  }

  .photos_items {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .photos_items div img {
      max-width: 160px;
  }

  .photos_items>:first-child img {
      max-width: 350px;
  }
}

@media screen and (max-width: 705px) {
  .photos_wrapper {
      max-width: 600px;
  }
}

@media screen and (max-width: 550px) {
  .photos_wrapper {
      max-width: 370px;
  }

  .photos_items {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }

  .photos_wrapper h2 {
      margin-bottom: 20px;
  }

  .photos_items div img {
      max-width: 350px;
  }

  .photos_items>:first-child {
      grid-column: 1;
      grid-row: 1;
      max-width: 200px;
  }

  .photos_items>:first-child img {
      max-width: 300px;
  }

  .button_default_black {
      width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .photos_wrapper {
      max-width: 320px;
  }

  .photos_items {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .photos_wrapper h2 {
      margin-bottom: 20px;
  }

  .photos_items div img {
      max-width: 250px;
  }

  .photos_items>:first-child img {
      max-width: 250px;
      object-fit: cover;
  }

  .button_default_black {
      max-width: 250px;
  }
}