.map_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 96px;
  overflow: hidden;
  padding: 0 10px;
}

.map_wrapper h2 {
  margin-left: 5px;
  margin-bottom: 40px;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: grayscale(100%) brightness(70%);
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%) brightness(70%);
}

/* .ymaps-2-1-79-gotoymaps__container, */
.ymaps-2-1-79-gototech {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .map_wrapper {
    max-height: 460px;
    margin-bottom: 20px;
  }

  .map_wrapper h2 {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .map_wrapper {
    max-height: 400px;
    max-width: 390px;
    margin-bottom: 10px;
  }
}