.swiper_wrapper {
  max-width: 1200px;
  margin: 0 auto 30px;
  position: relative;
  padding: 0 10px;
}

.swiper {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  height: 589px;
}

.slide_item {
  position: relative;
  cursor: pointer;
  max-width: 282px;
}

.swiper_title {
  position: absolute;
  top: 30px;
  left: 15px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 12px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  top: 10%;
  color: #EC3F3F;
  height: 32px;
}

.swiper-button-next:after {
  content: url(../../../assets/images/next.png);
}

.swiper-button-prev:after {
  content: url(../../../assets/images/prev.png);
}

.swiper-button-prev {
  left: 90%;
}

.swiper-pagination-progressbar {
  background: rgba(250, 250, 250, 0.3);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #EC3F3F;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: 18%;
  height: 2px;
}

.slide_text_wrapper {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  top: 0;
}

.slide_title {
  display: block;
  position: absolute;
  bottom: 0;
  color: white;
  margin-left: 20px;
  padding-bottom: 35px;
  padding-top: 0px;
}

.slide_title h4 {
  margin-bottom: 10px;
}

.slide_title h4:last-child {
  font-family: "FuturaPTBook";
}

.slide_description {
  display: none;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  top: 0;
  color: white;
  padding: 12px;
  line-height: 1.5;
}

.slide_description p {
  position: absolute;
  bottom: 0;
  width: 70%;
  padding-bottom: 35px;
}

.slide_item:hover .slide_description {
  display: block;
}

.slide_item:hover .slide_title {
  top: 0;
  color: white;
  padding-bottom: 0px;
  padding-top: 35px;

}

.slide_item:hover .slide_text_wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .swiper_wrapper {
    max-width: 640px;

  }

  .swiper {

    height: 530px;
  }

  .slide_item {

    max-width: 256px;
  }

  .swiper-slide {

    width: 256px;
    margin: 0 10px;
  }

  .swiper-button-prev {
    left: 80%;
  }

  .swiper-button-next {
    left: 90%;
  }

  .slide_title {
    margin-left: 15px;
    padding-bottom: 20px;
  }

  .slide_description p {
    width: 80%;
    padding-bottom: 20px;
  }

  .slide_item:hover .slide_description {
    display: block;
  }

  .slide_item:hover .slide_title {
    padding-top: 20px;

  }

}

@media screen and (max-width: 450px) {
  .swiper {

    height: 490px;
  }

  .swiper-slide {

    width: 216px;
    margin: 0 7px;
  }

  .swiper-button-prev {
    left: 70%;
  }

  .swiper-button-next {
    left: 85%;
  }

}

@media screen and (max-width: 300px) {

  .swiper-button-prev {
    left: 83%;
  }

  .swiper-button-next {
    left: 91%;
  }

}