.notfound_wrapper {
    max-width: 1200px;
    min-height: calc(100vh - 256px);
    margin: 150px auto 0;
    padding: 10px;
}

.notfound_wrapper h1 {
    font-size: 120px;
}

.notfound_text_wrapper {
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .notfound_wrapper h1 {
        font-size: 80px;
    }

    .notfound_text_wrapper {
        max-width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .notfound_wrapper h1 {
        font-size: 60px;
    }

    .notfound_text_wrapper {
        max-width: 300px;
    }
}